# =============================
# Miscellaneous
# =============================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# =============================
# IDEs and Editor Configs
# =============================
*.iml
*.ipr
*.iws
.idea/

# VS Code related
# Descomenta si no quieres subir configuración local de VS Code
#.vscode/

# =============================
# Flutter / Dart / Pub
# =============================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id
/build/

# =============================
# Symbolication / Obfuscation
# =============================
app.*.symbols
app.*.map.json

# =============================
# Android Studio build artifacts
# =============================
/android/app/debug
/android/app/profile
/android/app/release

# =============================
# Flutter platform folders (opcional)
# =============================
linux/
macos/
windows/
